root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

# Laravel style guide
[*.php]
indent_size = 4
indent_style = tab

[*.blade.php]
indent_size = 2
indent_style = space

[*.{xml,html,json}]
indent_size = 2
indent_style = space

[*.{css,js,ts,vue}]
indent_size = 2
indent_style = space
quote_type = single
